@{
    ViewData["Title"] = "Index";
}

    <img src="Imagenes/fondo1.jpg" alt="">
<div>
    <h1>¿Jugamos?</h1> 
    <p>Bienvenidos al ahorcado</p>
    <a href = '@Url.Action("Jugar", "Home")'>Toca aca para jugar </a>
</div>




