
<h1>@ViewBag.palabraParcial</h1>
<h2>Intentos: @ViewBag.intentos</h2>
<h2>Letras Usadas : @ViewBag.letrasUsadas</h2>

<form action='@Url.Action("compararLetra", "Home")' method ="post">
    Letra <input type = "text" name ="letra">
    <input type= "submit"
</form>
